@tailwind base;
@tailwind components;
@tailwind utilities;

/* .custom-scrollbar {
  Firefox
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #96afe0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #E5E7EB;
}

Firefox-specific scrollbar styling
.custom-scrollbar {
  overflow: scroll;
  scrollbar-width: 1px;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 20px;
  border: 10px solid #E5E7EB; 
}

Webkit browsers (Chrome, Safari)
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; Adjust the width here
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5E7EB;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 30px;
  border: 1px solid #E5E7EB;
} */

/* .custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 30px; 
  border: 1px solid #7c7e80;
} */

/* .custom-scrollbar::-moz-scrollbar {
  width: 5px;
}

.custom-scrollbar::-moz-scrollbar-track {
  background: #E5E7EB;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 30px; 
  border: 1px solid #E5E7EB;
} */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #E5E7EB;
}

/* .scroll-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.scroll-content {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-right: 20px; 
}

.custom-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px; 
  background: #E5E7EB;
  border-radius: 30px; 
}

.custom-thumb {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px; 
  background: #4B5563;
  border-radius: 30px; 
  cursor: pointer;
} */




